.paper{
    padding-top: 140px;
    
}
.divStyle{
    margin-left: 90px;
}

.title{
    flex-grow: 1;
}

.colors{
    margin-top: 30px;
  background-color: white;
}

.grid{
   flex-grow: 1;
   padding: 20px;

  
}
.gridthings{
    padding: 15px;
}

.productImg{
    width:100%;
}

.img{ grid-column: 1 / span 1;}
.des{ grid-column: 2 / span 1;}
.quant{ grid-column: 3 / span 1;}
.pri{ grid-column: 4 / span 1;}
.t{ grid-column: 5 / span 1;}
.delete{ grid-column: 6 / span 1;}

.productDescription{
    grid-column: 1 / span 1;
}
    
.quantity{grid-column: 2 / span 1;}
.price{ grid-column: 3 / span 1;}
.total{ grid-column: 4 / span 1;}
.productstuff{ grid-area: ps}
.menu{ 
    grid-area: menu;
}
.item1{
   grid-column: 1 / span 1;
   
}

.item2{
    grid-column: 2 / span 1;
    
}

.main-grid{
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    padding: 15px;
}

.grid-container{
    display: grid;
    grid-template-columns: 43% 20% 10% 11% 12%;
  grid-gap: 10px;
  padding: 10px;
  
}
.team2{
    display: grid;
    grid-template-columns: 21% 21% 20% 10% 11% 10%;
    grid-gap: 10px;
  padding: 10px;
}

.grid-container2{
    display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.numofitems{
    grid-column: 1 / span 1;
    grid-row: 1;
    text-align: center;
}

.overalltotal{
    grid-column: 2 / span 1;
    grid-row: 1;
    text-align: center;
}

.shipping{
    grid-column: 1 / span 2;
    grid-row: 2;
    text-align: center;
}

.dropdown{
    grid-column: 1 / span 2;
    grid-row: 3;
    text-align: center;
}

.divider{
    grid-column: 1 / span 2;
    grid-row: 4;
}

.theading{
    grid-column: 1 / span 1;
    grid-row: 5;
    text-align: center;
}

.money{
    grid-column: 2 / span 1;
    grid-row: 5;
    text-align: center;
}

.checkoutbutton{
    grid-column: 1 / span 2;
    grid-row: 6;
    text-align: center;
}

.popup {
    padding-top: 140px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

  .popup_inner {
      padding: 10px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 30%;
    bottom: 10%;
    margin: auto;
    background: white;
    overflow-y: auto;
  }
  .gridheight{
      height: 50px;
  }

  .h{
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

  .logIn{
      margin: 30px;
      margin-left: 200px;
      margin-right: 200px;
      text-align: center;
  }

  input{
    border: none;
    border-bottom: 2px solid red;
    width: 100%;
    height: 40px;
    padding-top: 5px;
  }






